# Disable unused storage drivers
# CONFIG_MTD_RAW_NAND is not set
# CONFIG_SPI_FLASH_MACRONIX is not set
# CONFIG_SPI_FLASH_WINBOND is not set

# Disable unused networking
# CONFIG_CMD_TFTPBOOT is not set

# Keep SD card and eMMC
CONFIG_MMC=y
CONFIG_CMD_MMC=y
