# Wireless
# CONFIG_WIRELESS is not set
# CONFIG_CFG80211 is not set
# CONFIG_MAC80211 is not set
# CONFIG_RFKILL is not set

# Bluetooth 
# CONFIG_BT is not set

# Audio
# CONFIG_SOUND is not set
# CONFIG_SND is not set

# Unused filesystems
# CONFIG_NFS_FS is not set
# CONFIG_CIFS is not set
# CONFIG_9P_FS is not set
# CONFIG_NFSD is not set

# Unused bus protocols
# CONFIG_CAN is not set
# CONFIG_CAN_DEV is not set